body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Hero, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .header{
    background-color: #1F2937;
    height: 500px;
  }

  .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links{
    display: flex;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    }
  
  li {
    margin-bottom: 16px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
  }

  .nav{
    display: flex;
    justify-content: space-around;
    padding: 8px;
  }
  .modal-body{
   font-family: Roboto, sans-serif;
    margin: 16px;
    background: #1F2937;
    color: #333;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .modal {
    background: #1F2937;
    width: 480px;
    border-radius: 10px;
  }

  .modal-header {
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    color: white;
  }

  .modal-text {
    color: white;
    margin-bottom: 8px;
  }



  button {
    cursor: pointer;


    
  }

  .modal-btn{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    
  }

  .header-img{
    width: 480px;
    height: 187px;
  }

.card-header{
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.card-container{
  display: flex;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.card-img{
  border: 5px solid royalblue;
}